Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [10]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [13]:
lesser_of_two_evens(2,4) # 2

2

In [12]:
lesser_of_two_evens(2,5) # 5

5

Write a function takes a two-word string and returns True if both words begin with same letter

In [18]:
def animal_crackers(text):
    
    r = text.lower().split()
    return r[0][0] == r[1][0]

In [19]:
animal_crackers('Levelheaded Llama')

True

In [21]:
animal_crackers('Crazy Kangaroo')

False

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [6]:
def has_33(nums):
    i = 0
    while i < len(nums) - 1:
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        i+=1
    return False

In [7]:
has_33([1, 3, 3])

True

In [8]:
has_33([1, 3, 1, 3])

False

In [9]:
has_33([3, 1, 3])

False

Given a string, return a string where for every character in the original there are three characters

In [12]:
def paper_doll(text):
    newstr = ''
    for char in text:
        x = char * 3
        newstr += x
    return newstr

In [13]:
paper_doll('Hello')

'HHHeeellllllooo'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [34]:
def blackjack(a,b,c):
    arr = [a,b,c]
    summation = 0
    for num in arr:
        summation += num
    
    if 11 in arr:
        result = (summation - 10)
        if result > 21:
            return 'BUST'
        else:
            return result
    elif summation > 21:
        return 'BUST'
    else:
        return summation

In [37]:
blackjack(5,6,7)

18

In [38]:
blackjack(9,9,9)

'BUST'

In [39]:
blackjack(9,9,11)

19

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [42]:
def summer_69(arr):
    new_arr = 0
    i = 0
    while i < len(arr):
        if arr[i] == 6:
            while arr[i] != 9:
                i+=1
        else:
            new_arr += arr[i]
        i+=1
    return new_arr

In [43]:
summer_69([1, 3, 5])

9

In [44]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [45]:
summer_69([2, 1, 6, 9, 11])

14

Write a function that takes in a list of integers and returns True if it contains 007 in order

In [48]:
def spy_game(nums):
    str1 = ''
    for num in nums:
        if num == 0 or num == 7:
            num = str(num)
            str1 += num
    if str1 == '007':
        return True
    else:
        return False

In [49]:
spy_game([1,2,4,0,0,7,5])

True

In [50]:
spy_game([1,0,2,4,0,5,7])

True

In [52]:
spy_game([1,7,2,0,4,5,0])

False

Write a function that returns the number of prime numbers that exist up to and including a given number

In [64]:
def prime_num(num):
    if num < 2:
        return False
    if num == 2:
        return True
    
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
        

def count_primes(num):
    prime = 1
    if num < 2:
        return 0
    for i in range(3,num + 1):
        if prime_num(i):
            prime += 1
    return prime

In [65]:
count_primes(100)

25